PROJECT_ID = '{{ PROJECT_ID }}'
CLOUDSQL_USER = '{{ CLOUDSQL_USER }}'
CLOUDSQL_PASSWORD = '{{ CLOUDSQL_PASSWORD }}'
CLOUDSQL_DATABASE = '{{ CLOUDSQL_DATABASE }}'
CLOUDSQL_CONNECTION_NAME = '{{ CLOUDSQL_CONNECTION_NAME }}'
CLOUD_STORAGE_BUCKET = '{{ CLOUD_STORAGE_BUCKET }}'
GOOGLE_OAUTH2_CLIENT_ID = '{{ GOOGLE_OAUTH2_CLIENT_ID }}'
GOOGLE_OAUTH2_CLIENT_SECRET = '{{ GOOGLE_OAUTH2_CLIENT_SECRET }}'
DATA_BACKEND = '{{ DATA_BACKEND }}'

